@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  display: inline-block;
  border: none;
  border-radius: 8px;
  padding: 4px 12px;
}

button:hover {
  cursor: pointer;
}

/* grouped general components */

.header-hero,
.content-hero,
.random-info,
.quote-section {
  padding: 0 140px 80px;
}

.header-hero,
.content-hero {
  background-color: #1f2937;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* header logo section */

.header-hero {
  padding-top: 20px;
}

.header-logo {
  font-size: 24px;
  font-weight: 800;
  color: #f9faf8;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.header-nav li a {
  font-size: 18px;
  font-weight: 300;
  color: #e5e7eb;
}

/* this website is awesome section */

.content-hero {
  gap: 16px;
}

.content-text {
  width: 500px;
  height: 250px;
}

.content-title {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.content-subtitle {
  font-size: 18px;
  font-weight: 300;
  color: #e5e7eb;

  margin-bottom: 16px;
}

.signup {
  background-color: #3882f6;
  padding: 8px 24px;
  color: #f9faf8;
  font-weight: 600;
}

.main-image {
  width: 550px;
  height: 225px;
  background-color: #4e4e4e;
  color: #e5e7eb;

  font-size: 16px;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* some random information section */

.info-header {
  text-align: center;
  margin: 32px auto;

  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.info-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.square-placeholder {
  width: 150px;
}

.square-placeholder p {
  text-align: center;
  color: #1f2937;
}

.frame-square {
  width: 150px;
  height: 150px;
  padding: 50px;
  margin-bottom: 8px;

  border: 5px solid #3882f6;
  border-radius: 10px;
}

/* quote section */
.quote-section {
  background-color: #e5e7eb;

  padding: 80px 320px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.says-quote {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: #1f2937;
}

.author-quote {
  text-align: right;
  font-size: 24px;
  font-weight: 800;
  color: #1f2937;
}

/* cta section */
.cta-section {
  background-color: #fff;
  padding: 80px 160px;
}

.container-cta {
  background-color: #3882f6;
  padding: 40px 80px;
  border-radius: 10px;

  display: flex;
  justify-content: space-between;
}

.container-cta .signup {
  border: 1px solid #fff;
}

.banner-cta {
  color: #f9faf8;
}

.banner-cta p:nth-of-type(1) {
  font-weight: 800;
}

/* footer */
.footer {
  background-color: #1f2937;
  color: #f9faf8;
  padding: 40px 80px;

  display: flex;
  justify-content: center;
  align-items: center;
}
